/* Space out content a bit */
body {
    /*padding-top: 20px;*/
    /*padding-bottom: 20px;*/
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
    .container {
        /*max-width: 730px;*/
    }
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }

    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }

    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

/*==================================================================*/
/*Removing responsiveness*/
.container {
    width: 1000px !important;
}

/*==================================================================*/
/*Overriding*/

label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: normal;
}

/*.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    position: relative;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}*/

.container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

/*==================================================================*/

.headerBar {
    margin-top: 5px;
    background-color: #FFF;
    border: none;
    color: #9d9d9d !important;
    height: 100px;
}

.mainBody {
    margin: 0px auto 0px;
    border-top: 1px solid #A2A1A1;
    border-bottom: 1px solid #A2A1A1;
}

.footerBar {
    background-color: #FFF;
    border: none;
    color: #9d9d9d !important;
    padding-top: 10px;
}

.filterSectionDiv {
    border: 1px solid #dbdbdb;
    height: 132px;
    clear: both;
}

.refineSearch {
    text-transform: uppercase;
    background: #000000;
    padding: 8px;
    color: #ffffff;
    font-weight: bold;
}

.filterSectionHeader {
    background-color: #dbdbdb;
    /*width: 250px;*/
    height: 30px;
    text-transform: uppercase;
    font-size: 14px;
    padding: 5px;
    color: #211e1e;
    text-decoration: none;
    font-weight: bold;
    clear: both;
}

.filterSectionBody {
    float: left;
    width: 100%;
    height: 100px;
    padding: 9px 10px;
    margin-bottom: 10px;
    clear: both;
    overflow: auto;
}

.overFlowAuto {
    overflow: auto;
}

.collapseExpandIcon {
    font-size: 14px;
    cursor: pointer;
}

.smNavBarLinks {
    font-size: 12px;
    color: #000000 !important;
}

.lgNavBarLinks {
    margin-top: 20px;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px;
    color: #000000 !important;
}

.lgNavBarLinks li {
    padding: 5px 20px;
}

.font12px {
    font-size: 12px;
}

.pointer {
    cursor: pointer;
}

ul, ol {
    margin: 0px;
}

.smProdImg {
  width: 20%;
}

.smProdImgDiv, .lgProdImgDiv {
    border: 1px solid #cecece;
    background-color: #f5f5f5;
}

.prodDiv {
    margin: 5px 0px 5px 0px;
}

.lgProdImgDiv, .prodDiv {
    position: relative;
    min-height: 400px;
    padding-right: 5px;
    padding-left: 5px;
    margin-left: 4px;
}

.prodDiv {
    margin: 5px 0px;
}

.noPaddingLR {
    padding: 0px 0px;
}

.prodSmDesc {
    /*background-color: #f00 !important;*/
}

.prodTitle {
    margin-bottom: 10px;
}
.smProdImgDiv {
  display: none;
}
.prodDiv:hover .smProdImgDiv {
  display: block;
}

