<nav class="headerBar" role="navigation">
    <div class="container">
        <div class="col-sm-3">
            <a class="" href="#"><img src="images/logo.jpg" alt="Logo"/></a>
        </div>
        <div class="col-sm-9">
            <div class="">
            <span class="font12px col-sm-8">Customer Care: 0124-6678000 (10 AM to 7 PM ), care@jockeyindia.com</span>
            <ul class="list-unstyled list-inline smNavBarLinks col-sm-4">
                <li><a href="#">Help</a></li>
                <li><a href="#">Join</a></li>
                <li><a href="#">Login</a></li>
                <li><a href="#">0 item(s)</a></li>
            </ul>
            </div>
            <div class="">
            <ul class="list-unstyled list-inline col-sm-12 lgNavBarLinks">
                <li><a href="#">MEN</a></li>
                <li><a href="#">WOMEN</a></li>
                <li><a href="#">KIDS</a></li>
                <li><a href="#">SPORTS & LEISURE</a></li>
                <li><a href="#">THERMALS</a></li>
            </ul>
            </div>
        </div>
    </div>
</nav>